header>div {
    margin: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(30px);
    border-radius: 20px;
    padding: 0 40px;
    height: 65px;

    svg {
        width: 28px;
        height: 28px;
    }

    ul {
        list-style-type: none;
    }

    a {

        &:link,
        &:visited {
            color: $text-default;
            text-decoration: none;
        }

        &:active {
            color: $active;

            svg {
                path {
                    fill: $active;
                }

                circle {
                    stroke: $active;
                }
            }
        }

        svg {
            circle {
                stroke: $text-default;
            }
        }
    }

    .header__menu {
        max-width: 90%;

        ul {
            display: flex;
            align-items: flex-end;

            li {
                margin: 0 2px;
            }
        }
    }

    .header__icon svg {
        &:hover {
            path {
                fill: $hover;
            }
        }
    }

    .header__button {
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            white-space: nowrap;
        }

        svg {
            width: 22px;
            height: 22px;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        border-radius: 7px;

        &__content {
            display: none;
            position: absolute;
            width: auto;
            height: auto;

            
            ul {
                margin-top: 8px;
                background: rgba(255, 255, 255, 0.9);
                border: 0.5px solid #DBD5D6;
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(30px);
                border-radius: 7px;
                display: flex;
                padding: 10px;
                flex-direction: column;
                align-items: flex-start;
                row-gap: 2px;

                li {
                    padding: 2px 5px;
                    border-radius: 7px;
                    width: 95%;

                    a {
                        display: block;
                    }


                    &:hover {
                        background: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        &:hover {
            background: rgba(207, 207, 207, 0.4);

            .dropdown__content {
                display: block;
            }
        }
    }
}