header > div {
  margin: 10px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border-radius: 20px;
  padding: 0 40px;
  height: 65px;
}
header > div svg {
  width: 28px;
  height: 28px;
}
header > div ul {
  list-style-type: none;
}
header > div a:link, header > div a:visited {
  color: #1b1b1b;
  text-decoration: none;
}
header > div a:hover {
  color: #3396ff;
}
header > div a:hover svg path {
  fill: #3396ff;
}
header > div a:hover svg circle {
  stroke: #3396ff;
}
header > div a:active {
  color: #0063cc;
}
header > div a:active svg path {
  fill: #0063cc;
}
header > div a:active svg circle {
  stroke: #0063cc;
}
header > div a svg circle {
  stroke: #1b1b1b;
}
header > div .header__menu {
  max-width: 90%;
  overflow: hidden;
}
header > div .header__menu ul {
  display: flex;
  align-items: flex-end;
}
header > div .header__menu ul li {
  margin: 0 2px;
}
header > div .header__menu ul li > a > div {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header > div .header__menu ul li > a > div p {
  white-space: nowrap;
}
header > div .header__menu svg {
  width: 22px;
  height: 22px;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.background__image {
  background-image: url("/Style/img/photo_2022-10-07_17-25-49.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  filter: blur(25px);
}